//@import "_standart_styles/font-face";
//
//@include font-face("roboto-example", "../fonts/RobotoRegular/RobotoRegular");
//@include font-face("roboto-example", "../fonts/RobotoBold/RobotoBold", bold);

.header {
  padding-top: 27px;
  background-image: url('../img/header__bg.png');
  background-position: center center;
  background-repeat: no-repeat;

  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & .top__logo {
    background: linear-gradient(to right, #e78b02 0%, #f2bf49 50%, #e78b02 100%);
    background-clip: text;
    font-size: 70px;
    -webkit-text-fill-color: transparent;
  }
  & .top__list {
    display: flex;
    width: 630px;
    justify-content: space-between;
  }
  & .item__link {
    color: #8b8681;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  & .list__itm {
    padding-right: 30px;
    position: relative;
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 51px;
      background-color: #dedede;
      background-image: linear-gradient(to top, #303422 0%, #a6a39e 35%, #a6a39e 65%, #303422 100%);
      opacity: 0.2;
      right: 0;
      top: 0;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;

  }
  & .content__left {
    width: 500px;
  }
  & .title__text {
    color: #ffffff;
    font-weight: 400;
    font-size: 28px;
  }
  & .title__text-2 {
    font-weight: 900;
    font-size: 32px;
    margin-top: 15px;
    & .green__text {
      font-size: 36px;
      font-weight: 900;
    }
  }
  & .left__list {
    margin-top: 55px;
  }
  & .list__items {
    margin-bottom: 25px;
    padding-left: 40px;
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    &:last-child {
      margin-bottom: 0;
    }
    &::after,
    &::before {
      position: absolute;
      content: '';
      border-radius: 50%;
    }
    &::after {
      width: 21px;
      height: 21px;
      background-color: #a3d024;
      opacity: 0.5;
      top: 0;
      left: 0;
    }
    &::before {
      width: 11px;
      height: 11px;
      background-color: #a3d024;
      top: 5px;
      left: 5px;
    }
  }
  & .green__text {
    font-weight: 700;
    font-size: 22px;
    text-shadow: 0 0 2px #000;
  }
  & .content__center {
    width: 400px;
    position: relative;
    flex-shrink: 0;
    font-size: 0;

  }
  & .left__des {
    width: 514px;
    border-radius: 28px;
    border: 1px solid #e89509;
    background-color: rgba(148, 82, 34, 0.3);
    padding-left: 35px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 100px;
    margin-top: 97px;
    color: #ffffff;
    font-size: 17px;
    font-style: italic;
    line-height: 20px;
    z-index: 3;
    position: relative;
  }
  & .center__hunt {
    position: absolute;
    bottom: 0;
    right: -165px;
    height: 610px;
    overflow: hidden;
    & img {
      max-width: 685px;
    }
  }
  & .center__prod {
    position: absolute;
    bottom: -85px;
    right: -25px;
    z-index: 4;
    & img {
      max-width: 420px;
    }
  }
  & .content__right {
    width: 270px;
    padding-bottom: 80px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 70px;
      height: 274px;
      background-image: url('../img/arrow.svg');
      background-repeat: no-repeat;
      right: -78px;
      top: 115px;
    }
  }
  & .green__text {
    color: #a3d024;
  }

}

:-ms-fullscreen, :root .top__logo {
  color: #e89509;
}

:-ms-fullscreen, :root .top__logo {
  background: transparent;
}

@media only screen and (max-width: 1350px) {
  .header .wrapper {
    max-width: 1024px;
  }
  .header {
    background-size: 100% 100%;
    & .top__logo {
      font-size: 60px;
    }
    & .content__center {
      width: 265px;
    }
    & .content__left {
      width: 400px;
    }
    & .green__text {
      font-size: 20px;
    }
    & .left__list {
      margin-top: 40px;
    }
    & .left__des {
      margin-left: 0px;
      margin-top: 35px;
    }
    & .center__prod {
      right: -30px;
    }
    & .center__prod img {
        width: 330px;
    }
    & .center__hunt {
      right: -160px;
      height: 470px;
    }
    & .center__hunt img {
      width: 450px;
    }
    & .content__right {
      margin-right: 70px;
    }
  }
}

@media only screen and (max-width: 1190px) {
  .header {
    & .content__left {
      width: 500px;
    }
    & .left__des {
      display: inline-block;
      padding-right: 35px;
      width: auto;
    }
    & .list__items {
      padding-left: 30px;
    }
    & .content__center {
      width: 210px;
    }
    & .center__hunt {
      height: 450px;
      right: -100px;
    }
    & .content__right {
      margin-right: 21px;
      padding-bottom: 30px;
      &::before {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1023px) {
  .header {
    & .wrapper {
      max-width: 768px;
    }
    &.section {
      padding-bottom: 0;
    }
    background-color: #262e2d;
    background-position: center bottom;
    background-size: auto;
    &__content {
      flex-wrap: wrap;
    }
    &__top {
      justify-content: center;
    }
    & .top__logo {
      font-size: 50px;
    }
    & .top__list {
      display: none;
    }
    & .list__itm {
      padding-right: 15px;
      &::after {
        display: none;
      }
    }
    & .left__title {
      text-align: center;
      margin-top: 5px;

    }
    & .left__list {
      display: flex;
      justify-content: space-between;
    }
    & .title__text {
      font-weight: 900;
      display: inline;
      &-1 {
        display: block;
      }
    }
    & .firstL {
      text-transform: capitalize;
    }
    & .title__text-2 {
      font-size: 28px;
    }
    & .content__left {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    & .list__items {
      padding-left: 25px;
      padding-right: 10px;
      font-size: 16px;
      &::after {
        width: 17px;
        height: 17px;
      }
      &::before {
        width: 7px;
        height: 7px;
      }
    }
    & .left__des {
      display: none;
    }
    & .green__text {
      font-size: 18px;
    }
    & .center__hunt {
      right: -385px;
      height: 550px;
    }
    & .center__hunt img {
      width: 585px;
    }
    & .content__right {
      padding-bottom: 30px;
    }
    & .center__prod {
      bottom: -50px;
      right: -265px;

    }
  }

}

@media only screen and (max-width: 767px) {
  .header {
    & .wrapper {
      max-width: 640px;
    }
    & .center__hunt {
      display: none;
    }
    & .green__text {
      font-size: 17px;
    }
    & .list__items {
      & br {
        display: none;
      }
    }
    & .content__center {
      display: flex;
      align-items: center;
    }
    & .center__prod {
      position: static;
      width: 300px;
      margin-right: auto;
      margin-left: auto;
    }
    & .content__right {
      margin-right: 15px;
      &::before {
        display: none;
      }
    }
    & .center__prod img {
      width: 370px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .header {
    &__top {
      flex-direction: column;
    }
    & .left__list {
      flex-direction: column;
    }
    & .center__prod img {
      width: 100%;
    }
    & .content__right {
      margin-right: 0;
      justify-content: center;
      width: 100%;
    }
    & .form {
      margin-right: auto;
      margin-left: auto;
    }
    & .left__des {
      padding-right: 10px;
      padding-left: 10px;
      & br {
        display: none;
      }
    }
    & .list__items br {
      display: block;
    }
    & .list__items .hid {
      display: none;
    }
    & .title__text {
      font-size: 24px;
    }
    & .top__logo {
      font-size: 50px;
    }
    & .top__list {
      display: none;
    }
    & .content__center {
      width: 100%;
    }
    & .center__prod {
      margin-top: 15px;
    }
    & .form .form__discont {
      right: calc(50% - 41px);
    }
  }
}