.traps{
    padding: $padding-xl;
    background: repeating-linear-gradient(90deg, #F6F3EE, #F6F3EE 1px, #ffffff 0, #ffffff 194px);
}
.list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img-two{
        position: relative;
    }
    &__img-one{
        position: absolute;
        z-index: 1;
        top: 0;
    }

}