@import "_standart_styles/_vars";
@import "_standart_styles/_mymixins";
//@import "_standart_styles/_audio";
//@import "_standart_styles/_youtube";
@import "reset";
@import "fonts";

.wrapper {
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.golden-gradient-box {
  display: block;
  //position: absolute;
}
.layer0 {
  display: block;
  position: absolute;
  z-index: -3;
  line-height: 1;
  color: #e89509;
  font-weight: 900;
  //font-size: 200px;
}
.layer1 {
  display: block;
  position: absolute;
  z-index: -2;
  margin-top: -3px;
  line-height: 1;
  color: #4b4b4b;
  background-image: linear-gradient(to right, #ce7b00 0%, #fcdd94 50%, #ce7b00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  //font-size: 200px;
}
:-ms-fullscreen, :root .layer1 { color: #E8950A; }
:-ms-fullscreen, :root .layer1 { background: transparent; }
.layer2 {
  display: block;
  position: absolute;
  z-index: -1;
  margin-top: -5px;
  line-height: 1;
  color: #4b4b4b;
  background: linear-gradient(to right, #e78b02 0%, #f2bf49 50%, #e78b02 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  //font-size: 200px;
}
:-ms-fullscreen, :root .layer2 { color: #E8950A; }
:-ms-fullscreen, :root .layer2 { background: transparent; }
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  outline: 0;
  width: 228px;
  height: 58px;
  box-shadow: inset 0 0 4px rgba(134, 28, 15, 0.48),
              0 16px 26px -12px #7f2418,
              0 6px 0 -2px #7f2418;
  background-color: #df2729;
  background-image: linear-gradient(to right, #9e3e2b 0%, #d57a68 50%, #9e3e2b 100%);
  cursor: pointer;
  border-radius: 33px;
  border: 0 solid #f0aa9c;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  &:hover {
    box-shadow: inset 0 0 4px rgba(134, 28, 15, 0.48),
                0 6px 0 -2px #7f2418;
  }
  &:active {
    border-bottom: none;
    box-shadow: inset 0 0 4px rgba(134, 28, 15, 0.48);
  }
  & .btn-1 {
    font-weight: 900;
    font-size: 28px;
    line-height: 28px;
  }
  & .btn-2 {
    font-size: 17px;
    line-height: 20px;
  }
}
.plus {
  width: 30px;
  height: 30px;
  background-color: #e89509;
  box-shadow: inset 0 0 4px rgba(205, 205, 205, 0.48);
  background-image: linear-gradient(to right, #bdbdbd 0%, #e1e1e1 50%, #bdbdbd 100%);
  border-radius: 50%;
  border: 0 solid #bdbdbd;
  position: relative;
  border-bottom: 3px solid #bdbdbd;
  cursor: pointer;
  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: #fff;
  }
  &::after {
    width: 2px;
    height: 14px;
    top: calc(50% - 7px);
    left: calc(50% - 1px);
  }
  &::before {
    width: 14px;
    height: 2px;
    top: calc(50% - 1px);
    left: calc(50% - 7px);
  }
  &:hover {
    box-shadow: inset 0 0 4px rgba(242, 201, 85, 0.48);
    background-color: #e89509;
    background-image: linear-gradient(to right, #e78b02 0%, #f2bf49 50%, #e78b02 100%);
    border-bottom-color: #e89a18;
  }
  &:active {
    border-bottom: 0 solid #e89a18;
  }
}

.castom__line {
  width: 80px;
  height: 6px;
  border-radius: 2px;
  background-color: #d6b58c;
}

.text__orange {
  color: #e89509;
}




/********form*************/
.form {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    z-index: 3;
    &__wrapper{
      margin-top: 45px;
      padding-top: 30px;
      padding-bottom: 25px;
      background-color: #fff;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
      width: 100%;
      position: relative;
    }
  & .form__discont {
    width: 82px;
    height: 84px;
    position: absolute;
    right: -21px;
    top: -45px;
    background-image: url(../img/discont.svg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .discont__inner {
    transform: rotate(15deg);
  }
  & .discont__text {
    color: #7f2418;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    display: inline-block;
  }
  & .discont__text-2 {
    font-size: 15px;
    transform: rotate(-15deg);
    margin-left: -3px;
  }
  & .form__price {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 25px;
    border-radius: 5px;
    position: relative;
    & .price__el {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 26px;
      font-weight: 900;
      position: absolute;
      width: 70px;
      height: 70px;
      top: -85px;
      left: calc(50% - 35px);
      background-image: url(../img/discont.svg);
      line-height: 14.79px;
      background-size: 100% 100%;
    }
    & .el__proc:nth-child(2) {
      color: #fefefe;
      font-size: 20px;
      font-weight: 900;
      text-shadow: 0px 0px 2px #333;
      margin-left: -6px;
      margin-bottom: -6px;
    }
  }
  & .price__old,
  & .price__new {
    width: auto;
    flex-shrink: 1;
  }
  & .price__old {
    position: relative;
  }
  & .price__text {
    text-align: left;
    margin-bottom: 10px;
    font-size: 13px;
    color: #949494;
  }

  & .price__num {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
  }
  & .x_price_current,
  & .x_price_previous {
    font-size: 36px;
  }
  & .x_price_current {
    font-weight: 700;
  }
  & .price__num-old {
    color: #c2c0c0;
    font-weight: 400;
  }
  & .x_price_previous {

    position: relative;
    &::after,
    &::before {
      content: '';
      width: 100%;
      height: 2px;
      background-color: #2f3222;
      position: absolute;
      bottom: 18px;
    }
    &::after {
      left: 0;
      transform: rotate(20deg);
    }
    &::before {
      right: 0;
      transform: rotate(-20deg);
    }
  }
  & .price__new .price__text {
    color: #1c2022;
  }
  & .price__num-new {
    color: #303b3b;
  }
  & .form__name,
  & .form__tel {
    width: 220px;
    height: 60px;
    position: relative;
    margin: 0 auto;
    &::after {
      position: absolute;
      content: '';
      left: 22px;
      top: 20px;
    }
  }
  & .form__name {
    margin-top: 25px;
  }
  & .form__tel {
    margin-top: 15px;
  }
  & .form__btn {
    margin: 20px auto 0;
  }
  & .form__lastpack {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f2f1eb;
    text-align: center;
    color: #303b3b;
    font-size: 15px;
  }
  & .lastpack {
    color: #bb5e4c;
    font-weight: 900;
  }
  & .form__name::after {
    width: 18px;
    height: 24px;
    background-image: url('../img/people.svg');
    background-repeat: no-repeat;
  }
  & .form__tel::after {
    width: 18px;
    height: 20px;
    background-image: url('../img/tel.svg');
    background-repeat: no-repeat;
  }
  ::-webkit-input-placeholder { color: #949494; font-weight: 500; }
  ::-moz-placeholder          { color: #949494; font-weight: 500; } /* Firefox 19+ */
  :-moz-placeholder           { color: #949494; font-weight: 500; } /* Firefox 18- */
  :-ms-input-placeholder      { color: #949494; font-weight: 500; }
  & .form__name__field,
  & .form__tel__field {
    width: 100%;
    height: 100%;
    padding-left: 55px;
    padding-right: 10px;
    outline: none;
    color: #949494;
    font-size: 16px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #dfe2e3;
    &:hover,
    &:focus {
      box-shadow: inset 1px 1px 3px #4443;
    }
  }
  & .sequrity {
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
    padding-left: 33px;
    color: #283028;
    font-size: 15px;
  }
  & .sequrity:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../img/security.svg) center no-repeat;
    background-size: 20px 20px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
input::-ms-clear {
  display: none;
}
.ib {
  display: inline-block;
}
/*end form *************/
@import "media";
/**********header************/
@import "header";

/**********traps************/
@import "traps";

/**********package************/
@import "package";

/**********profit************/
@import "profit";

/**********animals************/
@import "animals";

/**********reviews************/
@import "reviews";

/**********profesional************/
@import "profesional";

/**********use************/
@import "use";

/**********order************/
@import "order";

/**********footer************/
@import "footer";

/**********popup************/
@import "popup";


